.Routing-widget div:first-child{
    color: green;
}
.Routing-widget div:nth-of-type(2) {
    color: red;
}
.Routing-widget input{
    margin-left: 10px;
    width: 200px;
    line-height: 30px;
    border-color:  #d9dde0;
    padding: 1px 10px;
}